@charset "UTF-8";

body {
    font-family: monospace;
}

.light-theme {
    color: #000000;
    background: #00ff00;
}

#msg {
    font-family: monospace;
}

ul {
    font-family: helvética;
}

li {
    list-style: circle;
}

.list {
    list-style: square;
}

